@import url("https://fonts.googleapis.com/css?family=Chakra+Petch");
body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/gaming-pattern.png");
  background-size: 100%;
  background-repeat: no-repeat;
  color: black;
  font-family: "Chakra Petch", sans-serif;
}
* {
  box-sizing: border-box;
}
img {
  height: 150px;
  width: 150px;
}
.btn {
  margin: 3px;
  background-color: rgba(93, 93, 255, 0.904);
  border-color: #fff;
}
.gifDiv {
  float: left;
  margin: 3px;
}
.container {
  background-color: #fff;
  opacity: 0.8;
  padding: 20px;
}
.jumbotron {
  background-color: inherit;
}
.jumbotron .h1,
.jumbotron h1 {
  text-align: center;
}
#copyright {
  font-size: 14px;
}
div#footer {
  clear: both;
  margin-top: 40px;
  position: center;
  bottom: 0;
  left: 0;
  text-align: center;
}
